/*=== GERAL =============================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hue: 170;
    --primary-color: hsl(var(--hue), 100%, 26%);
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
    
    --brand-beige: hsl(39, 100%, 97%);
    --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
    --brand-light-2: hsl(calc(var(--hue) + 10), 14%, 97%);
    --brand-dark: hsl(var(--hue), 100%, 14%);

    --bg-light: hsl(180, 14%, 97%);
    
    font-size: 62.5%; /* 1rem = 10px */

    --nav-height: 7.2rem;
}

html {
    /* caso não funcione no navegador, ativar em chrome://flags/#smooth-scrolling */
    scroll-behavior: smooth; /* rolagem da página de maneira suave ao navegar até as seções utilizando o menu */
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'DM Sans';
    font-size: 1.6rem; /* 16px */
    
    text-align: center;

    overflow: overlay; /* sobrepor da barra de rolagem, para que a espessura não aumente a largura do body */

    background-color: var(--bg-light);
}

/* Definindo uma classificação para elementos de mesma largura */
.wrapper {
    width: min(50rem, 100%); /* procurar o menor valor, se 100% da caixa for o menor valor, aceite, se 50rem 
    for o menor valor, use 50rem */
    /* A caixa terá o tamanho máximo de 50rem, se ficar menor que 50rem, a caixa terá um tamanho de 100% */
    margin-inline: auto; /* eixo x, margens referentes ao left e ao right */
    padding-inline: 2.4rem;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

section {
    padding-block: 10rem; /* eixo y, paddings referentes ao top e ao bottom */
}

section header h4 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    color: var(--primary-color);

    text-transform: uppercase;

    margin-bottom: 1.6rem;
}

section header h2 {
    font-size: 3rem;
    line-height: 3.9rem;

    color: var(--headline);
}

section header h1 {
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;

    margin-bottom: 2.4rem;
}

section .content p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;

    color: var(--paragraph);
}

.button {
    background: var(--primary-color);

    border: none;
    border-radius: 4rem;

    margin-bottom: 6rem;

    padding: 1.6rem 3.2rem;
    width: fit-content; /* largura do botão adaptada ao conteúdo */

    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    text-decoration: none;

    transition: background 200ms; /* duração da transição de cor quando o mouse passar em cima do botão */
}

.button:hover { /* quando o mouse passar em cima, muda a cor do botão*/
    background-color: var(--brand-dark);
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

/* Custom colors */

#services .card circle { /* # para referenciar id do html */
    fill: var(--brand-light);
}

#navigation .logo path[fill*='#00856F'], /* selecionar o path que contenha o fill com determinada cor */
#backToTopButton circle {
    fill: var(--primary-color);
}

button.open-menu path[stroke*='#00856F'],
#contact li path {
    stroke: var(--primary-color);
}

body.menu-expanded #navigation .logo path,
#navigation.scroll .logo path {
    fill: white; /* mudando a cor do preenchimento da logo */
}

#navigation.scroll button.open-menu path[stroke*='#00856F'] {
    stroke: white; /* mudando a cor da linha do botão */
}

/*=== NAVIGATION ========================*/

nav {
    display: flex;

    height: var(--nav-height);

    position: fixed; /* o objeto precisa ficar fixo na página quando houver rolagem */
    top: 0;
 /* left: 50%;
    transform: translateX(-50%); deslocar o elemento no eixo X em 50% para a esquerda */
    width: 100vw;

    z-index: 100; /* subindo o menu */
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll {
    background: var(--primary-color);
}

nav button {
    background: none;
    border: none;
    cursor: pointer; /* colocando a mãozinha indicando que pode clicar */
}

nav .menu,
nav .close-menu {
    position: fixed; /* colocando em uma nova camada */
}

/*=== MENU-EXPANDED =====================*/

body.menu-expanded {
    overflow: hidden; /* sumir com as barras de rolagem quando o body tiver o menu-expanded */
}

body.menu-expanded > :not(nav) { /* > * pega todos os filhos do primeiro nível, > :not(nav) aplica a todos, 
    exceto ao nav */
 /* display: none; quando o body tiver o menu-expanded, desapareccer todos os filhos do primeiro nível exceto
    o nav */
    visibility: hidden;
}

.menu, /* quando o body não tiver o menu-expanded, tirar o menu */
.close-menu,
body.menu-expanded .open-menu { /* o open-menu fica sumido quando o body tiver o menu-expanded */
    opacity: 0; /* perde a visibilidade, porém ainda é clicável */
    visibility: hidden;
}

body.menu-expanded .menu, /* quando o body tiver o menu-expanded, voltar o menu */
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}

.menu {
    transform: translateY(100%); /* desloca o menu para baixo, para fora da visualização da tela */
}

body.menu-expanded .menu {
    top: 0;
    left: 0;
    background: var(--primary-color);

    width: 100vw;
    height: 100vh;

    padding-top: var(--nav-height);

    transition: transform 300ms; /* transição do menu-expanded, que aparecerá de baixo para cima */
    transform: translateY(0) /* retorna o menu de baixo para o topo da tela */
}

.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    margin-top: 6rem;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.menu .button {
    background: white;
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    text-decoration: none; /* remover o sublinhado devido ao link */

    color: var(--primary-color);

    display: inline-block; /* faz a quebra da linha e tira a sobreposição dos elementos */
    padding: 16px 32px;

    margin-top: 4.8rem;
    margin-bottom: 8rem;
}

.menu .button:hover {
    background-color: var(--primary-color);
    color: white;

    filter: brightness(1.3); /* colocando brilho */
}

body.menu-expanded .logo,
body.menu-expanded button {
    position: relative;
    z-index: 100; /* subindo para um nível acima do menu */
}

body.menu-expanded .logo path {
    fill: white;
}

body.menu-expanded button path {
    stroke: white;
}

/*=== HOME ==============================*/

#home {
    padding-block: 0;
    padding-top: calc(4.1rem + var(--nav-height));
}

/* contruindo uma tag html pelo css */
#home::before { /* pseudo-element - adiciona uma tag antes do conteúdo do header (fora do wrapper) */
    content: '';
    width: 100%;
    height: calc(76% + var(--nav-height)); /* a altura deve chegar até o meio da caixa stats */
    background-color: var(--brand-light);
    display: block; /* aceita propriedades de largura e altura */

    position: absolute; /* o conteúdo da caixa fica sobreposto */
    top: 0;
    left: 0;
    z-index: -1; /* jogar a caixa para trás */
}

#home .button {
    margin-inline: auto;
}

#home p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph);

    margin-bottom: 3.2rem;
}

#home img { /* a imagem possui um espaço em branco entre a mulher e a base que deve desaparecer */
    width: 26.4rem;
    display: block; /* colar a imagem na div */
    margin-inline: auto;
    object-position: 0 2rem; /* o conteúdo dentro da caixa img é o objeto imagem */
}

#home .stats {
    width: 100%; /* ajustando o transbordamento, 100% da caixa wrapper */
    padding-block: 4rem;
    margin-inline: auto;

    background-color: var(--brand-beige);
    border: 1px solid var(--brand-light);
    border-radius: 0.6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}

#home .stat h3 {
    font-size: 4.8rem;
    color: var(--headline);
    line-height: 130%;

    margin-bottom: 0.4rem;
}

#home .stat p {
    margin: 0;
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 150%;
}

/*=== SERVICES ==========================*/

#services header h2 { 
    margin-bottom: 6rem;
}

#services .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#services .card {
    padding: 2.4rem;
    text-align: left;

    background: white;

    border: 1px solid var(--brand-light);
    border-radius: 0.6rem;
}

#services .card h3 {
    margin-block: 1.6rem;
}

/*=== ABOUT ============================*/

#about {
    text-align: left;
    background-color: var(--brand-beige);
}

#about header h2 {
    margin-bottom: 2.4rem;
}

#about .content p {
    margin-top: 2.4rem;
    margin-bottom: 6rem;
}

/*=== CONTACT ===========================*/

#contact {
    text-align: left;
}

#contact header {
    margin-bottom: 3.2rem;
}

#contact ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    margin-bottom: 3.2rem;
}

#contact ul li {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

/*=== FOOTER ============================*/

footer {
    background-color: var(--primary-color);
    padding-block: 6rem;

    text-align: left;

    color: white;
}

footer .logo {
    display: inline-block; /* display inline não aceita margin-top e bottom, width, height. 
    Display inline-block mantém as propriedades inline, mas destrava propriedades do block */
    margin-bottom: 2.4rem;
}

footer .logo svg {
    width: 23.6rem;
    height: 3.1rem;
}

footer .logo path {
    fill: white;
}

footer p {
    color: var(--brand-beige);
    line-height: 2;

    margin-bottom: 3.2rem;
}

footer .social-links {
    justify-content: flex-start;
}

/*=== BACK TO TOP =======================*/

#backToTopButton { /* botão flutuante que aparece a partir de certo ponto após rolagem da página */
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;

    opacity: 0;
    visibility: hidden;

    transform: translateY(100%); /* tirar da tela */
    transition: 200ms; /* para o botão aparecer suavemente */
}

#backToTopButton.show { /* o botão fica visível quando possuir a classe show */
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* retornar à posição inicial */
}

/*=== RESPONSIVO ========================*/

/* Definindo breakpoint - at media rules */
@media (min-width: 1024px) { /* aplicar esse conjunto de propriedades quando o dispositivo tiver uma largura 
    mínima de 1020px */
    
    /*=== GERAL =============================*/

    body {
        overflow: auto; /* fazer com que não fique sobreposto, vai contar como parte da página */
    }

    .wrapper {
        width: min(112rem, 100%); /* até 112rem vai crescer, mais que isso não cresce mais */
        display: grid;
    }

    .col-a {
        grid-area: A;
    }

    .col-b {
        grid-area: B;
    }

    section {
        padding-block: 16rem;
    }

    section header h2 {
        font-size: 4rem;
        line-height: 5.2rem;
    }
    
    /*=== NAVIGATION ========================*/

    /* reset */
    nav#navigation .wrapper * { /* todos os elementos dentro do wrapper do navigation serão resetados */
        margin: 0;
        padding: 0;
        visibility: initial; /* valor inicial antes de adicionado o css, valor que o navegador aplicaria */
        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        font-size: initial;
        font-weight: initial;
        transform: initial;
        color: initial;
        background-color: initial;
        filter: initial;
    }

    nav#navigation .close-menu,
    nav#navigation .open-menu,
    nav#navigation .social-links {
        display: none;
    }

    nav#navigation .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
    }

    nav#navigation .menu ul:nth-child(1) {
        display: flex;
        gap: 3.2rem;
    }

    nav#navigation .menu ul li a {
        color: var(--primary-color);
        opacity: 0.7;
    }

    nav#navigation .menu a.button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2.4rem;

        border: 1px solid var(--primary-color);
        border-radius: 4rem;

        color: var(--primary-color);

        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-transform: uppercase;
    }

    nav#navigation .menu a.button:hover {
        background-color: var(--primary-color);
        border: none;
        color: white;
    }

    nav#navigation.scroll .menu ul li a {
        color: var(--brand-light-2);
        opacity: 0.6;
    }

    nav#navigation.scroll .menu a.button {
        border-color: white;
        color: white;
    }

    nav#navigation .menu li a {
        transition: opacity 0.4s;
    }

    nav#navigation .menu li a.active, 
    nav#navigation .menu li a:hover {
        opacity: 1;
        font-weight: 700;
    }

    nav#navigation .menu li a::after { /* criando barra abaixo dos elementos */
        content: '';
        width: 0%;
        height: 2px;
        background-color: var(--primary-color);

        position: relative;
        bottom: -2rem; /* descer a barra para que fique colada ao bottom do menu */
        left: -0.5rem; /* recuar a barra */

        display: block;

        transition: width 0.2s;
    }

    nav#navigation.scroll .menu li a::after {
        background-color: white;
    }

    nav#navigation .menu li a.active::after,
    nav#navigation .menu li a:hover::after { /* quando o a tiver no estado hover, pegar o elemento after */
        padding-inline: 0.8rem; /* aumentar o tamanho da barra para sobrar do tamanho do nome */
        width: 100%;
    }

    nav#navigation.scroll .menu li a.active,
    nav#navigation.scroll .menu li a:hover {
        opacity: 1;
    }

    nav#navigation.scroll .menu a.button.active,
    nav#navigation.scroll .menu a.button:hover {
        background-color: var(--primary-color);
        filter: brightness(1.3);
        border: none;
    }

    /*=== HOME ==============================*/

    #home::before {
        height: calc(96% - var(--nav-height));
    }

    #home {
        padding-top: var(--nav-height);
    }

    #home .wrapper {
        grid-template-columns: 60.5rem 1fr;
        grid-template-areas: 'A B' 'C C';
    }

    #home .col-a {
        text-align: left;
        align-self: center; /* alinhar a própria coluna A ao centro */
    }

    #home h1 {
        font-size: 5.2rem;
    }

    #home .content p {
        font-size: 1.8rem;
    }

    #home .stats {
        grid-area: C;

        flex-direction: row;
        padding: 6rem;
        gap: 0;
    }

    #home .stats .stat + .stat { /* procurar os stats que tenham um stat anterior */
        border-left: 1px solid var(--primary-color);
    }

    #home .stats .stat {
        flex: 1; /* preencher por igual a largura das caixas */
    }

    #home .button {
        margin: 0;
    }

    #home img {
        width: 42rem;
    }

    /*=== SERVICES ==========================*/

    #services h2 {
        width: 47rem;
        margin-inline: auto;
    }

    #services .cards {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
    }

    #services .card {
        width: 30%;
        flex-grow: 1; /* cresça os cards o suficiente para preencher o espaço restante */
    }

    /*=== ABOUT ============================*/

    #about .wrapper {
        grid-template-columns: 48rem 1fr;
        grid-template-areas: 'B A';
        gap: 6.7rem;
    }

    #about .col-a {
        align-self: center;
    }

    #about .content p {
        margin-bottom: 0;
    }

    /*=== CONTACT ===========================*/

    #contact .wrapper {
        grid-template-columns: 1fr 57.5rem;
        grid-template-areas: 'A B';
    }

    #contact h2 {
        width: 40.4rem;
    }

    /*=== FOOTER ============================*/

    footer {
        padding-block: 8rem;
    }

    footer .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'A B';
    }

    footer .col-a {
        align-self: center;
    }
    
    footer .col-b {
        align-self: center;
        justify-self: flex-end;
    }

    footer p {
        margin-bottom: 0;
    }
}